.profile-hero {
    height: 350px;
    border-radius: 0.35rem;
    background: #c5c5c5;
}

.profile-hero-content {
    border-radius: 0.35rem;
    background: white;
}

.profile-hero-content h1 {
    font-size: 2.3rem;
}

.post-card-header {
    background: white;
}

.post-image {
    max-height: 350px;
}

.form-control {
    line-height: 1.5;
}

.no-gap {
    padding-left: 2.5px;
    padding-right: 2.5px;
    padding-bottom: 5px;
}

.card-grid {
    border: 1px solid red;
    height: 400px;
}

.square-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.post-reaction {
    width: 100%;
}

.intro-card-header {
    background: white;
    border-bottom: none;
    /* color: black; */
    font-size: 1.8rem;
}
